@import url('https://fonts.googleapis.com/css?family=Muli');

*{
    font-family: 'Muli', sans-serif;
}

body{
    background-image: url("images/pollock.jpg");
    background-color: #cccccc;
}

.counter{
    display: inline-block;
    font-size: 2em;
}

.nameHeading{
    display:inline-block;
}

#cont{
    background-color: rgba(255, 254, 254, 0.788);
    width: 500px;
    padding: 10px;
    position: relative;
    left: 50%;
    margin-left: -250px;
    top: 100px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
  }

  li:last-child {
    border: none;
  }

  li a {
    text-decoration: none;
    color: #000;
    display: block;
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }

  li a:hover {
    font-size: 30px;
    background: #f6f6f6;
  }

  form{
      margin-top: 50px;
  }