<!DOCTYPE html>
<html>
    <head>
        <title>Kudos Kounter</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="cont">
        <h1>Kudos Kounter</h1>
            <div id="joneBlock">
                <h3 class="nameHeading">Jone kudos:</h3>
                <div class="counter">{{ joneScores|length }} </div>
                <ul>
                {% for date, kudo in joneScores.items() %}
                <li><a href="#">{{ kudo }} - {{ date }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div id="oyBlock">
                <h3 class="nameHeading">Øystein kudos:</h3>
                <div class="counter">{{ oyScores|length }} </div>
                <ul>
                    {% for date, kudo in oyScores.items() %}
                    <li><a href="#">{{ kudo }} - {{ date }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="writeKudo">
                <form action="writeKudo" method="POST">
                    <select name="name">
                        <option value="Jone">Jone</option>
                        <option value="Øystein">Øystein</option>
                    </select>
                    <input type="text" name="kudo"/>
                    <button type="submit">KUDOS!</button>
                </form>
            </div>
        </div>
    </body>
</html>